
<h1 style="text-align: center;">Contact Us</h1>

<br><br>

<table >
    <tr>
        <th *ngFor="let columnlabel of tableHeaders;" >
            {{columnlabel}}
        </th>
    </tr>
    <tr *ngFor="let tableData of rows"  >
        
        <td  *ngFor="let columnlabel of tableHeaders let i = index" (dblclick) ="onEdit(tableData, columnlabel)">
        <div *ngIf="tableData.isEditField==true && tableData.field==columnlabel">
                <input type = "text" [(ngModel)]="tableData[columnlabel]" />
                  
                <button  (click) ="save(tableData)">Update</button>

        </div>
        <div *ngIf="tableData.isEditField !==columnlabel && tableData.field !== columnlabel"> 
            {{tableData[columnlabel]}}
        </div>
        </td>
       
     
    </tr>
</table> 
